body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border: none;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
}